.Signal {
    width: 100%;
    display: flex;
    padding: 16px;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    border-radius: 16px;
    background: #fff;
    border: 1px solid #D3D4DB;
}

.Title {
    display: flex;
    align-items: center;
    gap: 10px;
}

.Title div h3 {
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    color: #1C2024;
}

.Title div p {
    font-size: 12px;
    font-weight: 300;
    line-height: 18px;
    color: #60646C;
}

.Chart {
    width: 100%;
}

.InfoBox {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.Row {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.End {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.Row h3 {
    color: #1C2024;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
}

.Row p {
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    color: #60646C;
}

.Start h3 {
    color: #30A46C;
}

.Signal button {
    background: #00003B0D;
    width: 100%;
    height: 40px;
    padding: 8px 16px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    color: #0007139F;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
}


@media screen and (max-width: 1000px) {
    .Signal {
        min-width: 280px;
    }
}