.Section {
    max-width: 1200px;
    width: 100%;
    margin-top: 80px;
}

.Section h2 {
    color: #1A2024;
    text-align: center;
    font-size: 48px;
    font-weight: 600;
    line-height: 60px;
    letter-spacing: -0.96px;
}

.Section p {
    color: #1A2024;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.Box {
    background: #04F;
    border-radius: 24px;
    margin-top: 40px;
    padding: 85px 45px 0 100px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 16px;
    /* position: relative; */
}

.Box h2 {
    color: #fff;
}

.Box h3 {
    color: #fff;
    font-size: 18px;
    font-weight: 300;
    line-height: 28px;
}

.Images {
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 125px;
    position: relative;
}

.Image2 {
    position: absolute;
    bottom: 0px;
    left: 190px;
}

.Image3 {
    position: absolute;
    right: 10px;
    margin-top: 70px;
}

.Message1 {
    top: -70px;
    left: -50px;
}

.Message2 {
    left: 230px;
    margin-top: -70px;
}

.Message3 {
    right: 80px;
    top: 40px;
}

.Slider {
    display: none;
    width: 100%;
    overflow-x: scroll;
    align-items: center;
    gap: 8px;
    margin-top: 24px;
}

.Slider::-webkit-scrollbar {
    display: none;
}

.Slide {
    min-width: 280px;
    background: #2242F9;
    border-radius: 24px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    min-height: 500px;
}

.Slide div {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 24px;
}

.Slide h3 {
    font-size: 18px;
    line-height: 24px;
    color: #fff;
    font-weight: 600;
}

.Slide p {
    font-size: 12px !important;
    line-height: 18px;
    color: #fff;
    font-weight: 400;
    text-align: start;
}

.Slide:nth-child(2) {
    background: #7509D5;
}

.Slide:nth-child(3) {
    background: #FFD910;
}

.Slide:nth-child(4) {
    background: #F9FAFE;
}

.Slide:nth-child(3) *,
.Slide:nth-child(4) * {
    color: #1C2024;
}

.Slide:nth-child(1) img {
    margin-left: 20px;
}

.AnchorBox {
    transform: translateY(-100px);
}

@media screen and (max-width: 1000px) {
    .Box {
        display: none;
    }

    .Section {
        margin-top: 80px;
    }

    .Section h2 {
        font-size: 24px;
        line-height: 30px;
    }

    .Section p {
        font-size: 16px;
        line-height: 20px;
        margin-top: 8px;
    }

    .Slider {
        display: flex;
    }
}